* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url(https://cdn.pixabay.com/photo/2017/11/09/10/39/christmas-2933008__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.bulb {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.red {
  background-color: red;
  box-shadow: 0 0 70px 10px red;
}

.orange {
  background-color: orange;
  box-shadow: 0 0 70px 10px orange;
}

.yellow {
  background-color: yellow;
  box-shadow: 0 0 70px 10px yellow;
}

.green {
  background-color: green;
  box-shadow: 0 0 70px 10px green;
}

.lightblue {
  background-color: lightblue;
  box-shadow: 0 0 70px 10px lightblue;
}

.blue {
  background-color: blue;
  box-shadow: 0 0 70px 10px blue;
}

.violet {
  background-color: violet;
  box-shadow: 0 0 70px 10px violet;
}
